.blogs_head {
    color: rgb(41, 52, 97);
}

.blog_btn {
    color: rgb(0, 131, 140);
    border: 1px solid rgb(0, 131, 140);
    background: none;
}

.blog_btn:hover {
    background-color: rgb(0, 131, 140);
}